{% extends 'compound_db/base.html' %}

{% load staticfiles %}

{% block base_content %}
    <div class="container">
        <h3>Import Molecules From ChEMBL</h3>
        <div class="divider"></div>
        {% include "compound_db/messages.html" with messages=messages %}

        <p>Import compounds that were tested for activity on a given target.</p>

        <div class="import-ChEMBL-form-wrapper form-wrapper row">
            <form method="post" class="col s12">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    {% include "compound_db/form_nonfield_errors.html" with form=form %}
                {% endif %}


                {% include "compound_db/form_input_field.html" with field=form.target %}

                {% include "compound_db/form_input_field.html" with field=form.description %}

                <h4>Filtering Options</h4>
                <div class="divider"></div>

                <p>Use the filters below to obtain compounds satisfying certain criteria.</p>

                <h5>Units of Measurement</h5>

                <p>Select only compounds that have data available in given units.</p>

                {% include "compound_db/form_muliple_choice_field.html" with field=form.units %}

                {% include "compound_db/form_input_field.html" with field=form.units_custom %}

                <h5>Bioactivity Types</h5>

                <p>Select compounds for which the desired bioactivity types were studied.</p>

                {% include "compound_db/form_muliple_choice_field.html" with field=form.bioactivity_types %}

                {% include "compound_db/form_input_field.html" with field=form.bioactivity_types_custom %}

                <h5>Operators</h5>

                <p>Select compounds that have bioactivity value associated with the given operators.</p>

                {% include "compound_db/form_muliple_choice_field.html" with field=form.operators %}

                {% include "compound_db/form_input_field.html" with field=form.operators_custom %}

                <h5>Activity Values</h5>

                <p>Select compounds that have bioactivity value above or below a certain threshold.</p>

                {% include "compound_db/form_input_field.html" with field=form.activity_value_threshold %}

                <p>
                    Operator to use when comparing values.
                    <div class="row">
                        <div class="col s8">
                            <div class="card-panel red lighten-2">
                            <span class="white-text">
                                For example, if you select '<=', only compounds with bioactivity values less
                                or equal to the value specified will be extracted.
                                If no value is given, the choice of operator takes no effect and all compounds satisfying
                                the criteria above are extracted.
                            </span>
                            </div>
                        </div>
                    </div>
                </p>

                {% include "compound_db/form_radio_buttons.html" with field=form.activity_value_operator %}

                <button id="btn-save" class="submit-form-with-mol btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>

    </div>

{% endblock %}

{% block footer_custom_js %}
    <script>
        $(document).ready(function() {
{#            $('select option[value="All"]').attr("selected", "");#}
            $('select').material_select();
        });
    </script>
{% endblock %}