{% extends 'compound_db/base.html' %}

{% load staticfiles %}

{% block head_custom_start %}
    <meta http-equiv="X-UA-Compatible" content="chrome=1">{# required by the ChemDoodle Web Components library #}
{% endblock %}

{% block head_custom_css %}
    <link rel="stylesheet" href="{% static "compound_db/chemdoodle/ChemDoodleWeb.css" %}" type="text/css">{# required by the ChemDoodle Web Components library #}
{% endblock %}

{% block head_custom_js %}
    <script type="text/javascript" src="{% static "compound_db/chemdoodle/ChemDoodleWeb.js" %}"></script>{# required by the ChemDoodle Web Components library #}
    <script type="text/javascript" src="{% static "compound_db/chemdoodle/uis/ChemDoodleWeb-uis.js" %}"></script>{# required by the SketcherCanvas plugin #}
{% endblock %}
{% block base_content %}

    <div class="container">
        <h3>Add New Molecule</h3>
        <div class="divider"></div>
        <div class="section">
            <h4>Structure</h4>

            {% include "compound_db/messages.html" with messages=messages %}

            <p>Use the applet below to draw the structure of the new molecule:</p>

            <div class="row">
                <div class="sketcher col s8 offset-s2">
                    <canvas id="chemdoodle_sketcher">
                        {# the sketcher interface #}
                    </canvas>
                </div>
            </div>
        </div>

        <div class="section">
            <h4>Extra Information</h4>
            <p>Fill in the form below to add some extra information:</p>

            <div class="add-mol-form-wrapper form-wrapper row">
                <form method="post" class="col s12">
                    {% csrf_token %}

                {% if form.non_field_errors %}
                    {% include "compound_db/form_nonfield_errors.html" with form=form %}
                {% endif %}

                    <div class="row">
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            {% include "compound_db/form_input_field.html" with field=field %}
                        {% endfor %}
                    </div>


                    <button id="btn-save" class="submit-form-with-mol btn waves-effect waves-light" type="submit" name="action">Save
                        <i class="material-icons right">send</i>
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_custom_js %}
    <script type="text/javascript" src="{% static "compound_db/js/sketcher_config.js" %}"></script>
    <script>
        initChemSketcher();
    </script>
{% endblock %}