{% load staticfiles %}

<html>
    <head>

        <!-- Compiled and minified Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
        <link rel="stylesheet" href="{% static "compound_db/css/nav.css" %}">
        <link rel="stylesheet" href="{% static "compound_db/css/footer.css" %}">
        <link rel="stylesheet" href="{% static "compound_db/css/home.css" %}">

        <!-- Compiled and minified JQuery and Materialize JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    </head>

    <body>

        {% block base_nav %}

            {% include "compound_db/nav.html" with active=page_settings.navbar_active active_title=page_settings.active_title %}

        {% endblock %}

        {% block base_content %}
            (no content)
        {% endblock %}

    <footer class="page-footer">

        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Additional Information</h5>
                    <p class="grey-text text-lighten-4">If you have any questions or suggestions, please, contact me.</p>
                </div>
{#                <div class="col l4 offset-l2 s12">#}
{#                    <h5 class="white-text">Links</h5>#}
{#                    <ul>#}
{#                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>#}
{#                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>#}
{#                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>#}
{#                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Martin Šícho
                <a class="grey-text text-lighten-4 right" href="https://github.com/martin-sicho"><span class="octicon octicon-mark-github"></span> GitHub</a>
            </div>
        </div>

        {% block footer_js %}
            <script>
                $( document ).ready(function(){
                    $(".dropdown-button").dropdown();

                    $('.collapsible').collapsible({
                        accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
                    });

                    $(".button-collapse").sideNav();
                })
            </script>
        {% endblock %}

    </footer>

    </body>
</html>