{% load staticfiles %}

<html>
    <head>

        {% block head_custom_start %}
            {# override this in children to add anything to the beginning of the header #}
        {% endblock %}

        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
        <link rel="stylesheet" href="{% static "compound_db/css/nav.css" %}">

        {% block head_custom_css %}
            {# override this in children to add new stylesheets to head #}
        {% endblock %}

        <!-- JavaScript -->
        {% block head_custom_js %}
            {# override this in children to add new javascript to head #}
        {% endblock %}

    </head>

    <body>

        {% block base_nav %}

            {% include "compound_db/nav.html" with active=page_settings.navbar_active active_title=page_settings.active_title %}

        {% endblock %}

        {% block base_content %}
            (no content) {# the content of the page inserted by derived template #}
        {% endblock %}

    <footer class="page-footer">

        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Additional Information</h5>
                    <p class="grey-text text-lighten-4">If you have any questions or suggestions, please, contact me.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Martin Šícho
                <a class="grey-text text-lighten-4 right" href="https://github.com/martin-sicho"><span class="octicon octicon-mark-github"></span> GitHub</a>
            </div>
        </div>

    </footer>

    <!-- JavaScript in the footer -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <script>
        $( document ).ready(function(){
            $(".dropdown-button").dropdown();
            $(".button-collapse").sideNav();
        })
    </script>

    {% block footer_custom_js %}
        {# override this in children to add new javascript to the footer #}
    {% endblock %}


    </body>
</html>