


      <table>
        <thead>
          <tr>
              {% for title in column_names %}
                <th>
                  {{ title }}
              </th>
              {% endfor %}

          </tr>
        </thead>

        <tbody>
        {% for compound in compounds %}
          <tr>
            <td>{{ compound.unique_id }}</td>
            <td>{{ compound.smiles }}</td>
            <td>{{ compound.mol_weight_exact }}</td>
            <td><img src="{%  url "compound_db:molimages_api" compound.unique_id %}"></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
            

