<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="radio-buttons col s12">
        <div class="row">
            <div class="col s8">
                {% for radio in field %}
                    <p>
                        {{ radio.tag }}
                        <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                    </p>
                {% endfor %}
            </div>

            {% include "compound_db/field_errors.html" %}

        </div>
    </div>
</div>