{% extends 'compound_db/base.html' %}

{% load staticfiles %}

{% block head_custom_css %}
    <link rel="stylesheet" href="{% static "compound_db/css/home.css" %}">
{% endblock %}

{% block base_content %}

    <div class="container">

        <div class="row">
            <div class="search-form-wrapper col s12">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>

        {% include "compound_db/messages.html" with messages=messages %}

    </div>

{% endblock %}