{% extends 'compound_db/base.html' %}

{% load staticfiles %}

{% block head_custom_css %}
    <link rel="stylesheet" href="{% static "compound_db/css/home.css" %}">
{% endblock %}

{% block base_content %}

    <div class="container">

        <div class="row">
            <div class="autocomplete-search-wrapper search-form-wrapper col s12">
                <form id="basic-search-form" method="post" action="{% url "compound_db:search_api" %}">
                    {% csrf_token %}
                    <div class="input-field ui-widget">
                        <input name="basic_query" id="id_search" class="autocomplete-search" type="search">
                        <label for="id_search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>

            <div class=".search-buttons-wrapper row">
                <div class="col s6">
                    <button id="btn-search" class="btn waves-effect waves-light right" type="submit" name="search">
                        <i class="material-icons right">search</i>Search
                    </button>
                </div>

                <div class="col s6">
                    <button id="btn-advanced-search" class="btn waves-effect waves-light left" name="advanced-search" onclick="alert('not implemented')">Advanced Search
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="search-results col s12">
                    <table>
                        <thead>
                            {# head goes here #}
                        </thead>

                        <tbody>
                            {# results go here #}
                        </tbody>
                    </table>

                    <div class="row">
                        <button id="btn-more" class="hide col s4 offset-s4 btn waves-effect waves-light" name="more">
                            Load More
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {% include "compound_db/messages.html" with messages=messages %}

    </div>

{% endblock %}

{% block footer_custom_js %}
    <script type="text/javascript" src="{% static "compound_db/js/init_autocomplete.js" %}"></script>
    <script>
        $(function() {
            initAutocomplete("{% url "compound_db:autocomplete_api" %}")
        });

        var OFFSET = 0;

        var fetchData = function(reset) {
            var form = $('#basic-search-form');
            var data = form.serialize();
            var options = {
                offset : OFFSET
            };
            var options_str = jQuery.param( options );

            data = data + '&' + options_str;
            var url = form.attr('action');
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                data: data,
                success: function(data) {
                    if (reset) {
                        var table_head = $('.search-results thead');
                        table_head.empty();
                        table_head.append(data['table_head']);

                        var table_rows = $('.search-results tbody');
                        table_rows.empty();
                        table_rows.append(data['table_rows']);

                        OFFSET = 10;
                    } else {
                        var table_rows = $('.search-results tbody');
                        table_rows.append(data['table_rows']);
                        OFFSET = OFFSET + 10;
                    }

                    var old = $('.last-row');
                    if (old) {
                        old.removeClass('last-row');
                    }

                    var last = $('.search-results tbody tr').last();
                    last.addClass('last-row');

                    if (!data['data'].length) {
                        $('#btn-more').html('No more compounds to show.');
                        $('#btn-more').addClass('disabled');
                    } else {
                        $('#btn-more').removeClass('hide');
                    }
                }
            });
        };

        $('#btn-more').click(function() {
            fetchData(false);
        });

        $('#btn-search').click(function() {
            fetchData(true);
            $('.messages').remove();
        });

        $('#basic-search-form').submit(function(e) {
            fetchData(true);
            e.preventDefault();
            $('.messages').remove();
        });

    </script>
{% endblock %}