<script>
    var sketcher_height = 400;
    var options = {
        'oneMolecule' : true
        , 'useServices' : false
        , 'includeQuery' : true
    };
    var chem_sketcher = new ChemDoodle.SketcherCanvas(
            "chemdoodle_sketcher"
            , 500
            , sketcher_height
            , options
    );

    // sets terminal carbon labels to display
    chem_sketcher.specs.atoms_displayTerminalCarbonLabels_2D = true;
    // sets atom labels to be colored by JMol colors, which are easy to recognize
    chem_sketcher.specs.atoms_useJMOLColors = true;
    // enables overlap clear widths, so that some depth is introduced to overlapping bonds
    chem_sketcher.specs.bonds_clearOverlaps_2D = true;
    // sets the shape color to improve contrast when drawing figures
    chem_sketcher.specs.shapes_color = 'c10000';

    // because we do not load any content, we need to repaint the chem_sketcher, otherwise we would just see an empty area with the toolbar
    // however, you can instead use one of the Canvas.load... functions to pre-populate the canvas with content, then you don't need to call repaint


    var resizeCanvas = function() {
        var sketcher = $(".sketcher");
        chem_sketcher.resize(sketcher.width(), sketcher_height)
    };
    $(window).resize(resizeCanvas);

    resizeCanvas();
    chem_sketcher.repaint();
</script>