<nav class="{{ page_settings.colors.navbar }}" style="overflow: hidden">

    <span class="brand-logo">{{ page_settings.active_title }}</span>

    <ul id="slide-out" class="side-nav">
      {% include "compound_db/nav_links.html" %}
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">Add Data<i class="mdi-navigation-arrow-drop-down"></i></a>
            <div class="collapsible-body">
              <ul>
                {% include "compound_db/nav_add_data.html" %}
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="right hide-on-med-and-down">
          {% include "compound_db/nav_links.html" %}
          <li>
              <a class="dropdown-button" href="" data-activates="dropdown1">Add Data<i class="mdi-navigation-arrow-drop-down right"></i></a>
          </li>
          <ul id='dropdown1' class='dropdown-content'>
             {% include "compound_db/nav_add_data.html" %}
          </ul>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

</nav>
        